body {
    background-color: #F7F7F7;
    margin: 0;
}

hr {
    margin: 0;
}

h1 {
    font-family: Arial;
    color: #2f2f2f;
    margin: 0;
}

h2 {
    font-family: Arial;
    color: white;
    font-size: 1.17em;
    margin: 0;
}

h3 {
    font-family: Arial;
    color: #2f2f2f;
    margin: 0;
}

h5 {
    font-family: Arial;
    color: white;
    margin: 4px;
}

p {
    font-family: Arial;
    color: #2f2f2f;
    margin: 0;
}

label {
    font-family: Arial;
    color: #2f2f2f;
}



/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    background-color: #F7F7F7;
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
    align-items: flex-start;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 0px 5px 10px 0px #cecece;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
}

nav > section {
    display: flex;
    align-items: center;
    border-radius: 8px;
    gap: 8px;
}

.logo-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url(/assets/cat-logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-item {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #2f2f2f;
    text-decoration: none;
    justify-content: space-around;
    border: 0px solid #2f2f2f;
    border-radius: 30px;
    background-color: #F5F5F5;
}


/* Home */
section#home {
margin: 5%;
}

.section-container {
    margin: 0;
    padding-top: 0%;
    padding-bottom: 0%;
}

.banner-img {
    height: 658px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: none;
    border-radius: 15px;
}

.banner-container {
    height: 658px;
    width: auto;
}

section#home > article{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

/* Facility */
section#facilities{
    background-color: #87D2FF;
    padding: 3% 5% 5% 5%;
}

section#facilities.section-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 40px;
}

article.facility-list{
    display: flex;
    justify-content: space-around;
}

article.facility-list > div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
}

article.facility-list > div > img{
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

article.facility-list > div > div.list-text{
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
}





/* Message us */
section#message-us {
margin: 5%;
}

.form-result {
    height: 100%;
    border: 1px solid #2f2f2f;
    padding-left: 10px;
}

.message-us-section {
    display: flex;
}

.form-container {
    width: 50%;
    grid-template-columns: 2 2 auto;
    display: grid;
    gap: 10px 10px;
}

.result-container {
    width: 50%;
}

form {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

.submit-button{
    width: 130px;
    height: 50px;
    background-color: whitesmoke;
    border-radius: 30px;
    justify-content: center;
    margin: 5px;
}

.text-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25px;
    padding-right: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.break-word {
    word-wrap: break-word;
}